@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
}

.top-bar{
    display:flex;
    align-items: center;
}

.content{
flex: 1;
display: flex;
flex-direction: column;
}

.bottom-bar{

}

.bar-left{
    display: flex;
    align-items: center;
}

.bar-right{

}

.menu{
    
}