html{
    height: 100%;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

/* Nav Bar */
.navbar{
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: "about store . gmail image icons signin";
    margin:10px;
}

a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.about{
    grid-area: about;
    justify-self: center;
    align-self: center;
}

.store{
    grid-area: store;
    justify-self: center;
    align-self: center;
}

.gmail{
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}

.image{
    grid-area: image;
    justify-self: center;
    align-self: center;
}

.icons{
    grid-area: icons;
    justify-self: center;
    align-self: center;
}


.sign-in{
    grid-area: signin;
    justify-self: center;
    align-self: center;
}





.center{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.logo{
    height: 92px;
    width: 272px;
    margin-top: 120px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 45px;
    margin-top: 25px;
    margin-bottom: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.search:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#searchbar{
    width: 457px;
    height: 43px;
    border: none;
    margin: 0 10px;
    font-size: 16px;
    outline: none;
    opacity: .87;
}

#glass{
    width: 14px;
    height: 16px;
    opacity: .5;
    margin-right: 5px; 
}

#mic{
    width: 17px;
    height: 22px;
    cursor: pointer; 
}

button{
    height: 36px;
    padding: 0 16px;
    margin: 0 4px;
    font-size: 14px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    
}

button:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

buttons:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
}

footer{
    background: #f2f2f2; 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    color: #5f6368;
    font-size: 14px;
    display: inline-block;
}
footer ul a{
    text-decoration: none;
}

footer:hover{
    text-decoration: underline;
}

